
projects/wongji/dominion/.vs/dominion/v15/Browse.VC.db
projects/wongji/dominion/.vs/dominion/v15/Browse.VC.opendb
projects/wongji/dominion/.vs/slnx.sqlite
projects/wongji/dominion/.vs/ProjectSettings.json
projects/wongji/dominion/.vs/dominion/v15/.suo
projects/wongji/dominion/.vs/dominion/v15/ipch/AutoPCH/3283750768814aa4/PLAYDOM.ipch
projects/wongji/dominion/.vs/dominion/v15/ipch/AutoPCH/fe4ee503374eafbf/DOMINION.ipch
projects/wongji/dominion/.vs/VSWorkspaceState.json
